main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userAdd {
  width: 400px;
  background-color: rgb(220, 226, 230);
  padding: 1%;
  border-radius: 13px 1px;
  margin-top: 30px;
  box-shadow: 3px 3px 10px rgba(108, 108, 108, 0.596);
}
.submit {
  width: 100%;
  padding: 6px;
  margin-top: 1%;
  border: none;
  border-radius: 7px;
  background-color: rgb(102, 130, 172);
}
.submit:hover {
  background-color: rgb(46, 82, 83);
  color: white;
  border-radius: 7px;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  box-shadow: 0 0 10px;
  margin-top: 1%;
}
input {
  width: 98%;
  padding: 6px 0px 6px 6px;
  margin-bottom: 10px;
}
label {
  color: rgba(0, 0, 0, 0.848);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.373);
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 19px;
}
input:valid {
  border: 1.5px solid rgb(205, 209, 205);
}
input:focus {
  background-color: rgb(245, 241, 241);
  border: 1px inset rgba(51, 153, 0, 0);
}

select {
  width: 100%;
  padding: 1.3%;
}
.modal {
  width: 500px;
  height: 88%;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  position: absolute;
  top: 2%;
  left: 30%;
  border: 4px solid rgb(11, 95, 87);
  box-shadow: 2px 2px 12px rgba(173, 173, 173, 0.688);
  padding: 20px;
}

.show {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnDiv {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.emailDiv,
.movie,
.colorVal,
.Range,
.Select,
.agree {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  border-left: 13px solid rgb(43, 216, 78);

  padding: 10px;
  border-bottom: 1px solid rgb(60, 216, 60);
}
.close {
  width: 25%;
  padding: 10px;
  background-color: rgba(253, 253, 253, 0);
  border: 4px solid rgba(255, 124, 124, 0.683);
  font-size: 22px;
  border-radius: 9px;
  cursor: pointer;
}
.close:hover {
  color: white;
  background-color: rgba(255, 42, 42, 0.776);
}
body {
  background: linear-gradient(
    145deg,
    rgba(110, 71, 182, 0.771212708716299) 13%,
    rgba(36, 107, 176, 0.7572071064754027) 92%
  );
}
